In [3]:
import numpy as np
import pandas as pd

In [7]:
# df = data frame 
# file name in '' and endswith .csv
df = pd.read_csv('gapminder_full.csv')
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [5]:
type(pd.read_csv('gapminder_full.csv'))
# type = DataFrame

pandas.core.frame.DataFrame

In [11]:
# while importing data file if we use file path then path should be wrap as raw file ie. with 'r'
df = pd.read_csv(r'C:\Users\admin\Desktop\Data Analytics\gapminder_full.csv')
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [12]:
# escape characters \t= tab,\u=unicode,\n=new line and more if \ is with character python confused and interpretes other out and error will occur
# so we are using 'r' as indicates raw file

# escape seq

In [13]:
print('hello world')

hello world

In [14]:
print('this is path of my file')

this is path of my file

In [15]:
print('C:\Users\admin\Desktop\Data Analytics\gapminder_full.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3766913092.py, line 1)

In [16]:
print(r'C:\Users\admin\Desktop\Data Analytics\gapminder_full.csv')

C:\Users\admin\Desktop\Data Analytics\gapminder_full.csv

In [17]:
print('rohan \tanmay')
# \t = tab

rohan 	anmay

In [18]:
print(r'rohan \tanmay')

rohan \tanmay

In [19]:
print('rohan \\tanmay')
# can use double back slash \\

rohan \tanmay

# Data Frame

In [20]:
# data frame is collection of series
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [22]:
type(df)
# data frame data type in pandas (data type drived by pandas)

pandas.core.frame.DataFrame

In [25]:
df.shape

(1704, 6)

In [27]:
df.size

10224

In [28]:
df.ndim
# dimension is 2 dataframe is 2D array in backend

2

In [30]:
# df[0] will call error
df['country']
# str thats why in ('')

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [31]:
df['year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

##### data frame is collection of series

##### almost all methods applicable on DF are also applicable for series

In [32]:
type(df['year'])

pandas.core.series.Series

In [33]:
s = df['year']
print(s.shape)

(1704,)

In [34]:
s.ndim

1

In [35]:
s.size

1704

## practice

In [36]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [37]:
df['population']

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: population, Length: 1704, dtype: int64

In [38]:
print((df['population'].shape))

(1704,)

In [39]:
w = df['population']
print(w.shape)

(1704,)

In [40]:
w.size

1704

In [41]:
w.ndim

1

In [42]:
df['life_exp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [43]:
r = df['life_exp']
print(r.shape)

(1704,)

In [44]:
r.size

1704

In [45]:
r.ndim

1

In [47]:
df['gdp_cap']

0       779.445314
1       820.853030
2       853.100710
3       836.197138
4       739.981106
           ...
1699    706.157306
1700    693.420786
1701    792.449960
1702    672.038623
1703    469.709298
Name: gdp_cap, Length: 1704, dtype: float64

In [48]:
t = df['gdp_cap']
print(t.shape)

(1704,)

In [49]:
t.size

1704

In [50]:
t.ndim

1

In [53]:
df['continent']

TypeError: list indices must be integers or slices, not str