In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('gapminder_full.csv')

In [4]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [5]:
# implicit and explicit indexing
# there is no limitation in using the indexing
# duplications are also allowed as indexing

In [6]:
# generating series
pd.Series([11,22,33,44])

0    11
1    22
2    33
3    44
dtype: int64

In [10]:
# 0,1,2,3 is default indexing we want our own indexing and we generating index as a,b,c,d so it must in ''ie. 'str'
# data and index should be is same size
# in series 1st term is always data and 2nd term is always index
ans = pd.Series([11,22,33,44],['a','b','c','d'])

In [11]:
ans

a    11
b    22
c    33
d    44
dtype: int64

In [12]:
type(ans)

pandas.core.series.Series

In [14]:
s = pd.Series(['a','b','c','d'])

In [15]:
s

0    a
1    b
2    c
3    d
dtype: object

In [17]:
s = pd.Series(['a','b','c'],[2,5,5])
# duplicate indexing allowed

In [18]:
s

2    a
5    b
5    c
dtype: object

In [19]:
# retriving the data from the series

In [20]:
s[2]

'a'

In [21]:
s[5]

5    b
5    c
dtype: object

In [24]:
s=pd.Series(list('abcd'),[1,2,3,4])
s

1    a
2    b
3    c
4    d
dtype: object

In [27]:
v = pd.Series(list('abcdefghi'),[1,1,2,2,3,3,4,4,5])
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [28]:
# retriving the data from the series
v[1]

1    a
1    b
dtype: object

In [29]:
v[2]

2    c
2    d
dtype: object

In [30]:
v[5]

'i'

In [32]:
# v[6] will get error missing index

In [33]:
# Slicing
# var[start:end]

In [34]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [36]:
v[1:3]

1    b
2    c
dtype: object

In [37]:
v[0:3]

1    a
1    b
2    c
dtype: object

In [38]:
v[1]

1    a
1    b
dtype: object

In [39]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [40]:
# calling a value : Explicit indixing will be used (manual index that is assigned by user)
# slicing : implicit indixing will be used (default index that is assigned by python)

In [42]:
# loc : explicit : given by user
# iloc :implicit: default

In [43]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [44]:
v[1]
# explicite

1    a
1    b
dtype: object

In [45]:
v[1:3]
# implicite

1    b
2    c
dtype: object

In [46]:
# to solve the implicite explicite here are loc and iloc

In [48]:
v.loc[1]
# explicite indixing >> given by user

1    a
1    b
dtype: object

In [49]:
v.iloc[1]
# implicite >> defalut by pandas

'b'

In [50]:
v.loc[4]

4    g
4    h
dtype: object

In [51]:
v.iloc[4]

'e'

In [53]:
# v.loc[-1]
# explicite by user -1 will not given by user so it gives error

In [54]:
v.iloc[-1]
# implicite >> default by pandas, used negative indexing

'i'

In [55]:
# reversal using negative indexing
v.iloc[::-1]

5    i
4    h
4    g
3    f
3    e
2    d
2    c
1    b
1    a
dtype: object

In [56]:
v.loc[5]

'i'

In [57]:
v.iloc[5]

'f'

In [58]:
v.iloc[-5]

'e'

In [59]:
# slicing using loc and iloc

In [60]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [61]:
v.loc[1:3]
# explicite >> both start and stop values included

1    a
1    b
2    c
2    d
3    e
3    f
dtype: object

In [62]:
v.iloc[1:3]
# implicite >> default start and end-1

1    b
2    c
dtype: object

## practice

In [63]:
# series generation

In [65]:
s= pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [66]:
s1 = pd.Series([1,2,3,4,5,6],['a','b','c','d','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [67]:
s2 = pd.Series(list('abcdefghi'),list('123456789'))
s2

1    a
2    b
3    c
4    d
5    e
6    f
7    g
8    h
9    i
dtype: object