In [1]:
import numpy as np
import pandas as pd

In [2]:
# new dataframe manual making
user = pd.DataFrame({'userid':[1,2,3],'name':['A','B','C']})
user

   userid name
0       1    A
1       2    B
2       3    C

In [3]:
msg =pd.DataFrame({'id':[1,1,2],'msg':['hello','bye','hi']})
msg

   id    msg
0   1  hello
1   1    bye
2   2     hi

In [4]:
# dataframe import from machine
user = pd.read_csv('user.csv')
user

   userid name
0       1    A
1       2    B
2       3    C

In [5]:
msg = pd.read_csv('msg.csv')
msg

   id    msg
0   1  hello
1   1    bye
2   2     hi

# concat

In [6]:
pd.concat([user,msg])

   userid name   id    msg
0     1.0    A  NaN    NaN
1     2.0    B  NaN    NaN
2     3.0    C  NaN    NaN
0     NaN  NaN  1.0  hello
1     NaN  NaN  1.0    bye
2     NaN  NaN  2.0     hi

In [7]:
pd.concat([msg,user])

    id    msg  userid name
0  1.0  hello     NaN  NaN
1  1.0    bye     NaN  NaN
2  2.0     hi     NaN  NaN
0  NaN    NaN     1.0    A
1  NaN    NaN     2.0    B
2  NaN    NaN     3.0    C

In [8]:
pd.concat([user,msg],axis=1)
# changing the default axis

   userid name  id    msg
0       1    A   1  hello
1       2    B   1    bye
2       3    C   2     hi

# merge

In [9]:
# data on left is msg
# data on right is user

In [10]:
msg.merge(user)
# give error as no common column. in merge operation common column should be present

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [11]:
# here in user and msg data is same in userid and id so here we connect both the dataframes on common columns

In [12]:
msg.merge(user,left_on='id',right_on='userid')
# finding the common columns
# here we merge user in msg so keep msg first so here msg is on left and user is on right and we are coonecting msg lef on id and user right on userid

   id    msg  userid name
0   1  hello       1    A
1   1    bye       1    A
2   2     hi       2    B

In [13]:
msg.merge(user,left_on='id',right_on='userid',how='inner')
# how=inner is default acts like INTERSECTION / like inner join i.e. join only matched records

   id    msg  userid name
0   1  hello       1    A
1   1    bye       1    A
2   2     hi       2    B

In [14]:
msg.merge(user,left_on='id',right_on='userid',how='outer')
# how=outer acts like UNION / like outer join i.e. join all matched and unmatched records

    id    msg  userid name
0  1.0  hello       1    A
1  1.0    bye       1    A
2  2.0     hi       2    B
3  NaN    NaN       3    C

In [15]:
msg.merge(user,left_on='id',right_on='userid',how='left')
# how=left acts as joining on left msg id colunm >> has only 1 and 2 id
# how=left acts like how=inner

   id    msg  userid name
0   1  hello       1    A
1   1    bye       1    A
2   2     hi       2    B

In [16]:
msg.merge(user,left_on='id',right_on='userid',how='right')
# how=right acts as joining on right user id column >> has 1 ,2 and 3
# how=right acts like how=outer

    id    msg  userid name
0  1.0  hello       1    A
1  1.0    bye       1    A
2  2.0     hi       2    B
3  NaN    NaN       3    C

In [17]:
# we can drop the duplicate data , here id and userid is repated column so we remove one of them
msg.merge(user,left_on='id',right_on='userid',how='right').drop('id')

KeyError: "['id'] not found in axis"

In [18]:
# here we got error as id column not found in axis so here default axis is 0 and columns placed on axis 1

In [19]:
msg.merge(user,left_on='id',right_on='userid',how='right').drop('id',axis=1)

     msg  userid name
0  hello       1    A
1    bye       1    A
2     hi       2    B
3    NaN       3    C